.container{
    display: flex;
    gap:20px;
    align-content: center;
}

.small{
    width: 40px;
    height: 40px;
    background-color: aqua;
    flex: 2 1 200px;
    border: 1px solid black;
    order: 2;   /* position*/ 
}

.container2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap; 
    /* nowwrap */
}

.small2{

    width: 40px;
    height: 40px;
    background-color: khaki;
    border: 1px solid black;
    order: 1;
}